:host {
    --micro: 0.25rem;
    --tiny: 0.5rem;
    --small: 1.0rem;
    --large: 1.2rem;
    --huge: 1.5rem;
    --max-content-width: 45rem;
    --radius: 0.25rem;
    --yellowish: #ffffaa;

    --lightviolet: #f3eafa;
    --mediumviolet: #e6d6f5;
    --darkviolet: #dac1f0;

    --lightgreen: #eafaea;
    --mediumgreen: #d6f5d6;
    --darkgreen: 	#c1f0c1;
    --verydarkgreen: #84e184;

    --darkg: #555555;
    --mediumg: #d0d0d0;
    --lightg: #f0f0f0;

    /* copied from github */
    --fontStack-monospace: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace;
    --fontStack-sansSerif: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

:host {
    font-family: var(--fontStack-sansSerif);
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}

#report {
    background: white;
    color: black;
    color-scheme: light;
    border-radius: var(--radius, 0);
    overflow: hidden;
}

:is(select, summary, button) {
    cursor: pointer;
}

summary > * {
    display: inline;
}

p {
    margin-block-start: var(--tiny);
    margin-block-end: var(--tiny);
}

code {
    overflow-wrap: anywhere;
}

pre {
    margin: 0;
}

code, pre {
    font-family: var(--fontStack-monospace);
}

.margin-r-s {
    margin-inline-end: var(--small);
}

.margin-r-t {
    margin-inline-end: var(--tiny);
}

.margin-v-t {
    margin-block-start: var(--tiny);
    margin-block-end: var(--tiny);
}



:is(td, th) {
    padding: var(--tiny);
}

dl {
    display: grid;
    grid-template-columns: max-content auto;
    column-gap: var(--tiny);
    margin: 0;
}

dt {
    grid-column-start: 1;
    font-weight: bold;
    justify-self: end;
}

dt::after {
    content: ":";
}

dd {
    grid-column-start: 2;
    justify-self: start;
    margin: 0;
}

table caption {
    padding: 0;
    font: inherit;
}

:is(td, th) {
    white-space: nowrap;
}


.horizontal-scroll {
    overflow-x: auto;
}

.select-all {
    user-select: all;
}

.select-none {
    user-select: none;
}

.wrapper {
    padding-inline-start: var(--small);
    padding-inline-end: var(--small);
    padding-block-end: var(--tiny);
}

.wrapper-vert {
    padding-block-end: var(--tiny);
}

.wrapper-vert-l {
    padding-block-start: var(--large);
    padding-block-end: var(--huge);
}

.text {
    max-width: var(--max-content-width);
}

.shrink {
    display: flex;
}

.shrink > * {
    width: 0;
    flex-grow: 1;
}

.copybutton-grid {
    display: flex;
    flex-direction: column;
    gap: var(--tiny);
    padding-block-start: var(--tiny);
    padding-block-end: var(--tiny);
}



.grid-separator {
    grid-column: 1/-1;
    justify-self: left;
}

.flex {
    display: flex;
    gap: var(--tiny);
    align-items: center;
}

.gap-l {
    gap: var(--large);
}

.flex-reverse {
    display: flex;
    flex-wrap: wrap-reverse;
}

.space-between {
    justify-content: space-between;
    max-width: 125ch;
}

.shrinkable-text {
    flex-basis: 20rem;
    flex-grow: 1;
}

.flex-wrap {
    flex-wrap: wrap;
    padding-block-start: var(--tiny);
    padding-block-end: var(--tiny);
}

.flex-wrap > * {
    margin: 0;
}

#report .ellided {
    max-width: 100ch;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#report .ellided-short {
    max-width: 30ch;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.card {
    padding: 0;
    margin: 0.75rem;
    border-radius: var(--radius);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, .2), 0px 4px 10px 0px rgba(0, 0, 0, .2);
    min-width: min-content;
}

.card-header {
    border-radius: var(--radius) var(--radius) 0 0;

    display: flex;
    flex-wrap: wrap;

    padding: var(--tiny);
    margin-block-end: var(--tiny);
    background-color: var(--header-color, var(--lightg));
    border-block-end: 1px solid var(--mediumg);
}

.columns-in-sample-tab .card-header {
    background-color: var(--darkgreen);
    border-block-end: 1px solid var(--verydarkgreen);
}

.card-header {
    --checkbox-margin: var(--tiny);
}

.card-header > * {
    margin-block-start: 0;
    margin-block-end: 0;
    font-size: var(--large);
}

.dataframe-summary {
    --max-content-width: 100rem;
    font-size: var(--large);
}

.box {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    border: 1px solid var(--darkg);
    padding: 0;
    min-width: 4rem;
    max-width: 40rem;
    max-height: 10rem;
    min-height: 1.8rem;
}

.box pre {
    overflow-x: auto;
    padding: var(--tiny);
    flex-grow: 1;
    white-space: pre;
}

.table-value-box {
    max-width: 100%;
}

*[data-shows-placeholder] {
    color: #777777;
}

.copybutton {
    margin-left: -2rem;
    min-width: 2rem;
    display: none;
    padding: var(--micro);
    padding-left: var(--tiny);
    padding-right: var(--tiny);
    border: none;
    background: rgba(0, 0, 0, 0);
}

.box:hover .copybutton {
    display: inline;
    background: var(--lightg);
}

.report:hover .copybutton:hover {
    display: inline;
    background: var(--mediumg);
}


.clickable {
    cursor: pointer;
}

th[data-is-in-selected-column] {
    background-color: var(--darkgreen);
}

tr:nth-child(2n -1) .table-cell[data-is-in-selected-column] {
    background-color: var(--mediumgreen);
}

.table-cell[data-is-in-selected-column] {
    background-color: var(--lightgreen);
}


tr:nth-child(2n -1) .table-cell[data-is-selected] {
    background-color: var(--yellowish);
    border: 1px solid black;
}


.table-cell[data-is-selected] {
    background-color: var(--yellowish);
    border: 1px solid black;
}


#report .ellided-table-part {
    border: 1px solid white;
    text-align: center;
    border-top: 0;
    border-bottom: 0;
    background: inherit;
}


:is(.ok, .warning, .critical) {
    font-weight: bold;
}

.ok {
    color: green;
}

.warning {
    color: #ff6600;
}

.critical {
    color: red;
}

.pseudocolumn {
    --header-color: #ffffff;
}

*[data-is-being-copied]{
    color: white;
    background-color: #4c72b0;
}

.select-displayed-siblings ~ [data-option-value]:not([data-is-selected]) {
    display: none;
}

.filterable-column[data-is-excluded-by-filter] {
    display: none;
}

.if-else[data-predicate="false"] > :first-child{
    display: none;
}

.if-else[data-predicate="true"] > :last-child{
    display: none;
}

.announcement  {
    font-size: var(--large);
    padding-block-start: var(--huge);
    padding-block-end: var(--huge);
}

.important-note {
    background-color: var(--lightgreen);
    padding: var(--small);
    border-radius: var(--radius);
    margin-top: var(--tiny);
    margin-bottom: var(--small);
}


.tooltip {
    position: relative;
}

.tooltip-text {
    display: none;
    background-color: black;
    color: #fff;
    border-radius: var(--radius);
    padding: var(--tiny);
    position: absolute;
    top: 120%;
    text-align: left;
    font-size: var(--small);
    cursor: auto;
}

.tooltip-right {
    left: 0%;
    right: -50%;
}

.tooltip-center {
    left: -25%;
    right: -25%;
}

.tooltip-left {
    left: -50%;
    right: 0%;

}

.tooltip .tooltip-text::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}

.tooltip:hover .tooltip-text {
    display: block;
}
