.column-filter {
    display: flex;
    gap: var(--tiny);
    align-items: flex-end;
    margin-left: var(--small);
    margin-bottom: var(--micro);
}

.column-filter > label {
    padding: 0;
    margin: 0;
}
