.column-filter {
    display: flex;
    gap: var(--space-m);
    align-items: flex-end;
    margin-bottom: var(--space-s);
    margin-left: var(--space-l);
    margin-right: var(--space-s);
}

.column-filter > label {
    padding: 0;
    margin: 0;
}
