.column-filter {
    display: flex;
    flex-wrap: wrap;
    gap: var(--space-m);
    align-items: flex-end;
    margin-bottom: var(--space-s);
    margin-left: var(--space-m);
    margin-right: var(--space-s);
}

.column-filter > select {
    max-width: 17ch;
    text-overflow: ellipsis;
    padding: 0 var(--border-s) 0 var(--space-s);
    font-size: var(--text-s);
}
