/* The column summary cards */
/* ------------------------ */

/* Collection of column summary cards (as shown in the "column summaries" tab) */
/* --------------------------------------------------------------------------- */

.column-summary-group {
    display: flex;
    flex-direction: column;
    gap: var(--space-l);
    min-width: min-content;
    max-width: max-content;
}

/* Increase the gap between buttons & columns to make it clearer the buttons are
   associated with the bar above them. */
.column-selection-buttons + .column-summary-group {
    margin-top: var(--space-l);
}

.column-summary-group > .card {
    margin: 0;
}

/* On small screens, the cards are on top of each other and all have the
   same width. On wide screens, the cards can be next to
   each other and wrap horizontally. */

@media screen and (min-width: 60rem) {
    .column-summary-group {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: var(--space-l);
    }

}


/* Individual column summary cards */
/* ------------------------------- */

.card {
    padding: 0;
    margin: var(--space-l);
    border-radius: var(--radius);
    min-width: min-content;
    border: 1px solid var(--mediumg);
}

.card-header {
    border-radius: var(--radius) var(--radius) 0 0;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    column-gap: var(--space-l);

    padding: var(--space-m);
    margin-block-end: var(--space-m);
    background-color: var(--header-color, var(--lightg));
    border-block-end: var(--border-s) solid var(--mediumg);
}

.card-header > * {
    margin-block-start: 0;
    margin-block-end: 0;
    font-size: var(--space-l);
}

.card-header input[type="checkbox"] {
    margin-right: var(--space-s);
}

.column-summary-content {
    display: flex;
    flex-direction: column;
}

/* Grid of boxes with copybuttons for a column's most frequent values */

.copybutton-grid {
    display: flex;
    flex-direction: column;
    gap: var(--space-m);
    padding-block-start: var(--space-m);
    padding-block-end: var(--space-m);
}


.grid-separator {
    grid-column: 1/-1;
    justify-self: left;
}


/* Aspects specific to the single card shown in the dataframe sample tab */
/* --------------------------------------------------------------------- */

.columns-in-sample-tab {
    margin-top: var(--space-m);
}

/* Hide the container when it is empty */

.columns-in-sample-tab:not(:has([data-role="sample-column"]:not([data-hidden]))) {
    display: none;
}

/* The header has the same color as the selected cells in the table */

.columns-in-sample-tab .card-header {
    position: relative;
    background-color: var(--darkgreen);
    border-block-end: var(--border-s) solid var(--shadowgreen);
    padding-right: calc(var(--button-s) + var(--space-m));
}

.columns-in-sample-tab .card {
    border-color: var(--shadowgreen);
}

/* Button for closing the card / deselecting the column in the table */

.card .close-card-button {
    height: var(--button-s);
    width: var(--button-s);

    padding: var(--space-s);
    border: none;
    border-radius: var(--radius);
    background: var(--darkgreen);

    position: absolute;
    top: var(--space-m);
    right: var(--space-s);
}

.card .close-card-button:hover {
    background: var(--verydarkgreen);
}
