.column-filter {
    display: flex;
    flex-wrap: wrap;
    gap: var(--spacing-m);
    align-items: flex-end;
    margin-bottom: var(--spacing-s);
    margin-left: var(--spacing-m);
    margin-right: var(--spacing-s);
}

.column-filter > select {
    max-width: 16ch;
    text-overflow: ellipsis;
    padding: var(--spacing-xs) var(--spacing-s);
    font-size: var(--font-size-s);
    height: var(--button-size-m);
}

.column-filter > .search-wrapper {
    display: flex;
    gap: var(--spacing-xs);
}

.column-filter > .search-wrapper > .column-filter-search {
    max-width: 24ch;
    padding: var(--spacing-xs) var(--spacing-s);
    font-size: var(--font-size-s);
}

.column-filter > .search-wrapper > .column-filter-regex[data-regex-enabled="true"] {
    color: var(--color-text-primary);
    font-weight: bold;
    background: var(--color-background-button-primary-active);
}
