{% set options %}
{% for filter_name in column_filters %}
<option value="{{ filter_name }}" {{ "selected" if filter_name == "all()" }}>
    {{ column_filters[filter_name]["display_name"] }}</option>
{% endfor %}
{% endset %}

<div class="wrapper">
    <div class="if-else" data-predicate="true" id="col-filter-select-enable">
        <div>
            <label for="col-filter-select">Show: </label>
            <select id="col-filter-select" class="col-filter-select"
                    onchange='getReport(event).onFilterChange()'
                    data-report-id="{{ report_id }}" autocomplete="off">
                {{ options }}
            </select>
        </div>
        <div>
            <label for="col-filter-select-fake">Show: </label>
            <select disabled
                    id="col-filter-select-fake"
                    title="Column similarities cannot be filtered. All of them are shown.">
                {{ options }}
            </select>
        </div>
    </div>
</div>
