/* Boxes with copy-to-clipboard buttons */
/* ------------------------------------ */

/* Those are used to quickly copy some code snippets, column names, etc. */

.box {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    border: 1px solid var(--darkg);
    padding: 0;
    min-width: 6rem;
    max-width: 40rem;
    max-height: 10rem;
    min-height: 1.8rem;
}

.box pre {
    overflow-x: auto;
    padding: var(--micro);
    flex-grow: 1;
    white-space: pre;
}

.copybutton {
    margin: 1px;
    min-width: 2rem;
    min-height: calc(1.8rem - 4px);
    display: inline-block;
    padding: var(--micro);
    padding-left: var(--tiny);
    padding-right: var(--tiny);
    border: none;
    position: relative;
    align-self: flex-start;
}

.copybutton-left {
    order: -1;
}

.copybutton {
    background: #e0e0e0;
}

.copybutton:hover {
    background: #eee;
}

.copybutton:active {
    background: #cccccc;
}

.copybutton:not([data-show-checkmark]) > :not(:first-child) {
    display: none;
}

.copybutton[data-show-checkmark] > :first-child {
    display: none;
}

.copied-message {
    font-size: 0.8rem;
    background-color: black;
    color: white;
    padding: 5px;
    border-radius: var(--radius, 5px);
    position: absolute;
    top: 1px;
    margin: 0;
    right: calc(100% + 5px);
}

.copybutton-left .copied-message {
    left: calc(100% + 5px);
    right: auto;
}

[data-shows-placeholder] {
    color: #777777;
}

.table-bar .box {
    flex-grow: 1;
    max-width: 55rem;
}
