/* The table showing the first few and last rows of the dataframe */
/* -------------------------------------------------------------- */

.table-with-selectable-cells {
    margin: 2px;
}

/* The column containing the selected cell has green stripes. */
/* The rest of the table has gray stripes added by pure.css */

tr:nth-child(2n -1) td.table-cell[data-is-in-active-column] {
    background-color: var(--bg-color, var(--mediumgreen));
}

td.table-cell[data-is-in-active-column] {
    background-color: var(--bg-color, var(--lightgreen));
}

thead th.table-cell[data-is-in-active-column] {
    background-color: var(--bg-color, var(--darkgreen));
}

.table-cell[data-is-active] {
    --bg-color: var(--lightyellow);
}

table:not(:focus-within):not(:has(:active)) .table-cell[data-is-active] {
    outline: 2px dotted black;
}

.table-cell[data-is-active]:focus {
    outline: 2px solid Highlight;
    outline: 2px solid -webkit-focus-ring-color;
}

.table-cell[data-is-active][data-just-copied]:focus {
    outline: 2px dashed Highlight !important;
    outline: 2px dashed -webkit-focus-ring-color !important;
}


/* The gap separating the head and the tail of the table */

#report .ellided-table-part {
    border: 1px solid white;
    text-align: center;
    border-top: 0;
    border-bottom: 0;
    background: inherit;
}

.table-bar-wrapper {
    min-height: calc(var(--line-height, 1.5) * 1em + 3.5 * var(--tiny));
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: var(--micro);
}

/* Information below the table: dimensions and keyboard shortcuts */

.table-footer {
    display: flex;
    justify-content: space-between;
    padding-top: var(--micro);
}

.keyboard-hints  {
    display: none;
    flex-basis: max(0px, min(50%, calc((50% - 35ch) * 99999)));
    flex-shrink: 0;
    min-width: 0px;
    height: 2rem;
    margin-bottom: -1.5rem;
    margin-right: var(--micro);
    overflow: hidden;
    text-align: right;
    vertical-align: center;
}

:has(.table-with-selectable-cells:focus-within) ~ .table-footer .keyboard-hints {
    display: block;
}

.keyboard-key {
    font-size: 0.75em;
    font-family: var(--fontStack-monospace);
    padding: 0 0.5em;
    line-height: 1.8;
    color: #444444;
    border: 1px solid #cccccc;
    border-bottom: 1px solid #bbbbbb;
    box-shadow: inset 0 -1px 0 #bbbbbb;
    border-radius: 0.2em;
    min-width: 1em;
    text-align: center;
    margin: 0.1em;
    display: inline-block;
    vertical-align: center;
}
