.float-end {
    margin-inline-start: auto;
    padding-inline-start: var(--tiny);
}

.column-summary-group {
    display: flex;
    flex-direction: column;
    gap: var(--small);
    padding-block-start: var(--tiny);
    padding-block-end: var(--tiny);
    padding-inline-end: var(--small);
    min-width: min-content;
    max-width: max-content;
}

.column-summary-group > * {
    margin: 0;
}

.column-summary-group.columns-in-sample-tab > .column-summary:not([data-is-selected-in-table]) {
    display: none;
}

.column-summary-content {
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 60rem) {
    .column-summary-group {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: var(--small);
    }

}


#collapse-const-cols-check:checked ~ * .constant-column {
    display: none;
}

#collapse-const-cols-check:not(:checked) ~ * .constant-columns-summary{
    display: none;
}

.constant-columns-summary:not(:has(dt:not([data-is-excluded-by-filter]))){
    display: none;
}

.relative-pos {
    position: relative;
}

.card .close-card-button {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -1rem;
    right: -1rem;
    width: 2rem;
    height: 2rem;
    padding: 0;
    border-radius: 1rem;
    background: var(--darkgreen);
    border: 1px solid var(--verydarkgreen);
}

.card:hover .close-card-button {
    display: flex;
}

.card .close-card-button:hover {
    display: flex;
    background: var(--verydarkgreen);
}
