{% from "utils.j2" import collapse_const_id with context %}


{{ report_id_selector }}.skrubview-report .skrubview-float-end {
    margin-inline-start: auto;
    padding-inline-start: var(--skrubview-tiny);
}

{{ report_id_selector }}.skrubview-report .skrubview-column-summary-group {
    display: flex;
    flex-direction: column;
    gap: var(--skrubview-small);
    padding-block-start: var(--skrubview-tiny);
    padding-block-end: var(--skrubview-tiny);
    padding-inline-end: var(--skrubview-small);
    min-width: min-content;
    max-width: max-content;
}

{{ report_id_selector }}.skrubview-report .skrubview-column-summary-group > * {
    margin: 0;
}

{{ report_id_selector }}.skrubview-report .skrubview-column-summary-group.skrubview-columns-in-sample-tab > .skrubview-column-summary:not([data-is-selected-in-table]) {
    display: none;
}

{{ report_id_selector }}.skrubview-report .skrubview-column-summary-content {
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 60rem) {
    {{ report_id_selector }}.skrubview-report .skrubview-column-summary-group {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: var(--skrubview-small);
    }

}


{{ report_id_selector }}.skrubview-report #{{ collapse_const_id }}:checked ~ * .skrubview-constant-column {
    display: none;
}

{{ report_id_selector }}.skrubview-report #{{ collapse_const_id }}:not(:checked) ~ * .skrubview-constant-columns-summary{
    display: none;
}

{{ report_id_selector }}.skrubview-report .skrubview-constant-columns-summary:not(:has(dt:not([data-is-excluded-by-filter]))){
    display: none;
}

{{ report_id_selector }}.skrubview-report .skrubview-card .skrubview-close-card-button {
    position: absolute;
    top: -1.5rem;
    left: -.5rem;
    width: 2rem;
    height: 2rem;
    padding: 0;
    border-radius: 1rem;
    background: var(--skrubview-darkgreen);
    border: 1px solid var(--skrubview-verydarkgreen);
    display: none;
}

{{ report_id_selector }}.skrubview-report .skrubview-card:hover .skrubview-close-card-button {
    display: inline;
}

{{ report_id_selector }}.skrubview-report .skrubview-card .skrubview-close-card-button:hover {
    display: inline;
    background: var(--skrubview-verydarkgreen);
}
