{% from "utils.j2" import collapse_const_id with context %}

<div class="skrubview-if-else skrubview-column-summaries-toggle" data-predicate="true">
<article class="skrubview-wrapper">
    <div class="skrubview-flex skrubview-wrapper-vert">
        <div class="skrubview-box">
        <pre class="selected-columns-box" id="selected-cols-box"></pre>
        <button class="skrubview-copybutton" data-target-id="selected-cols-box" onclick='copyButtonClick(event)'>📋</button>
        </div>
    </div>
    {% if summary.n_constant_columns %}
    <input type="checkbox" id="{{ collapse_const_id }}" checked="true" />
    <label for="{{ collapse_const_id }}" class="skrubview-margin-r-s">Collapse constant columns</label>
    {% endif %}
    <button class="skrubview-margin-r-s" onclick='document.getElementById("{{ report_id }}").clearSelectedCols()'>Deselect all</button>
    <button onclick='document.getElementById("{{ report_id }}").selectAllCols()'>Select all</button>

    <div class="skrubview-column-summary-group">
        {% if summary.n_constant_columns %}
        <div id="constant-columns-card" class="skrubview-pseudocolumn skrubview-constant-columns-summary skrubview-card">
            <div class="skrubview-card-header">
                <h3>Constant columns</h3>
            </div>
            <div class="skrubview-wrapper">
                <p>
                <dl>
                    {% for column in summary.columns %}
                    {% if column.value_is_constant %}
                    <dt class="skrubview-select-all skrubview-filterable-column" data-col-index="{{ loop.index0 }}" data-column-name="{{ column.name }}">{{ column.name }}</dt>
                    <dd class="skrubview-filterable-column" data-column-name="{{ column.name }}">{{ column.constant_value.__repr__()  }}</dd>
                    {% endif %}
                    {% endfor %}
                </dl>
                </p>
            </div>
        </div>
        {% endif %}
        {% for column in summary.columns %}
        {% set col_id="col_{}".format(loop.index0) %}
        {% include "column-summary.html" %}
        {% endfor %}
    </div>
</article>
<div class="skrubview-text skrubview-announcement skrubview-wrapper">
    {% include "no-filter-matches.html" %}
</div>
</div>
