<article>
    {% if summary["top_associations"] %}
    <div class="if-else interactions-toggle"
         data-predicate="true"
         id="interactions-content"
         data-similarity-threshold="{{ column_similarity_threshold }}" >
        <div class="flex-reverse wrapper gap-l wrapper-vert-l">
            <div class="horizontal-scroll">
                <table class="pure-table">
                    <thead>
                        <tr>
                            <th>Column 1</th>
                            <th>Column 2</th>
                            <th><a
                                    href="https://en.wikipedia.org/wiki/Cram%C3%A9r%27s_V">Cramér's
                                    V</a></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for association in summary["top_associations"] %}
                        <tr class="filterable-column-pair"
                            data-left-column="{{ association['left_column'] }}"
                            data-right-column="{{ association['right_column'] }}"
                            data-similarity="{{ association['cramer_v'] }}">
                            <td>{{ association["left_column"] }}</td>
                            <td>{{ association["right_column"] }}</td>
                            <td {% if association["cramer_v"] is gt column_similarity_threshold %}
                                class="critical" {%- endif -%}>
                                {{ association["cramer_v"] | format_number }}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            <div class="text shrinkable-text">
                The table shows the strength of association between the most similar
                columns in the dataframe.
                <a href="https://en.wikipedia.org/wiki/Cram%C3%A9r%27s_V">Cramér's V</a>
                statistic is a number between 0 and 1.
                When it is close to 1 the columns are strongly associated — they contain
                similar
                information.
                In this case, one of them may be redundant and for some models (such as
                linear
                models) it might be beneficial to remove it.
            </div>
        </div>
        <div class="text announcement wrapper" data-test="interactions-no-match">
            {% set no_match_msg = "None of the columns in the similarity table match the selected filter" %}
            {% include "no-filter-matches.html" %}
        </div>
        {% else %}
        No strong associations between any pair of columns were identified by a quick
        screening of a subsample of the dataframe.
        {% endif %}
</article>
