<div data-hidden
     data-hide-on="NON_EMPTY_COLUMN_FILTER_SELECTED"
     data-show-on="EMPTY_COLUMN_FILTER_SELECTED"
     class="text wrapper">
<p>
No columns match the selected category <strong data-manager="ColumnFilterSelectValue"></strong> and query <strong data-manager="ColumnFilterSearchValue"></strong>. You can adjust the dropdown or the search field above.
</p>
<p>
    <button type="button"
            data-manager="ResetColumnFilter"
            data-test="show-all-columns-button">Show all columns</button>
</p>
</div>
