{% include "pure-3.0.0/base-min.css" %}
{% include "pure-3.0.0/tables-min.css" %}

{% include "base.css" %}
{% include "copy-pasteable-box.css" %}
{% include "dataframe-columns.css" %}
{% include "dataframe-sample.css" %}
{% include "tabs.css" %}
{% include "tooltip.css" %}
{% include "top-bar.css" %}

{% if is_inline_report %}
{% include "inline-report.css" %}
{% endif %}
