<tbody>
    {% for row in summary[table_part]['data'] %}
    <tr>
        {% for idx in range(row.__len__()) %}
        {% set column_name = summary.head.header[idx] %}
        <td class="skrubview-table-cell skrubview-ellided-short skrubview-filterable-column"
            data-column-name="{{ column_name }}"
            data-parent-table-id="{{ table_id }}"
            data-display-box-id="{{ table_id }}_value_box"
            data-filter-snippet-box-id="{{ table_id }}_filter_snippet_box"
            data-value-repr-box-id="{{ table_id }}_value_repr_box"
            data-column-idx="{{ idx }}"
            data-column-name-repr="{{ summary.head.header[idx].__repr__() }}"
            data-value-str="{{ row[idx].__str__() }}"
            data-value-repr="{{ row[idx].__repr__() }}"
            data-col-name-str="{{ summary.head.header[idx] }}"
            data-col-name-repr="{{ summary.head.header[idx].__repr__() }}"
            {%- if row[idx] | is_null -%}
            data-value-is-none=""
            {%- endif -%}
            data-dataframe-module="{{ summary.dataframe_module }}"
            onclick="displayValue(event)">
            {%- if  not (row[idx] | is_null) -%}
            {{ row[idx] }}
            {%- endif -%}
        </td>
        {% endfor %}
    </tr>
    {% endfor %}
</tbody>
