/* The report's tab panels (dataframe sample, column summaries, column associations) */
/* --------------------------------------------------------------------------------- */


/* The tabs (buttons that allow selecting the tab panel) */
/* ----------------------------------------------------- */

.tab-list-wrapper {
    align-items: flex-start;
    border-bottom: var(--border-s) solid var(--darkg);
    column-gap: calc(2 * var(--base-size));
    row-gap: var(--space-s);
}

.tab-list-scroller {
    overflow: auto hidden;
}

.tab-list {
    display: flex;
    column-gap: var(--space-m);
    padding-left: var(--space-m);
    padding-right: var(--space-m);
    align-items: stretch;
    margin-bottom: calc(-1 * var(--border-s));
}

.tab-list > * {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-top: var(--border-m);
}

.tab {
    display: flex;
    align-items: center;
    column-gap: var(--space-s);
    border: var(--border-s) solid transparent;
    border-bottom: none;
    border-radius: var(--radius) var(--radius) 0 0;
    padding: var(--space-m);
    padding-top: var(--space-s);
    padding-bottom: var(--space-s);
    font-size: var(--space-l);
    background-color: transparent;
    --color-muted: var(--darkg);
    --color-default: inherit;
    color: var(--color-muted);
}

.tab:hover {
    color: var(--color-default);
}

.tab[data-is-selected] {
    border-color: var(--darkg);
    background-color: white;
    color: var(--color-default);
}

/* When a tab contains critical content we highlight the corresponding button so */
/* the user is more likely to click on it. ATM this is just used for the */
/* associations tab when some columns are very strongly associated. */

.tab-list .tab .warning-sign {
    display: none;
    width: var(--text-m);
    height: var(--text-m);
    margin: var(--space-xs);
}

.tab-list .tab[data-has-warning] .warning-sign {
    display: inline-block;
}

.tab-list .tab[data-has-warning] {
    --color-muted: var(--darkred);
    --color-default: var(--red);

}

/* The panels (the main content) */
/* ----------------------------- */

.tab-panel {
    padding-top: var(--space-m);
    border-radius: 0 0 var(--radius) var(--radius);
}
