{{ report_id_selector }}.skrubview-report .skrubview-tab {
    display: none;
}

{{ report_id_selector }}.skrubview-report .skrubview-tabset-buttons {
    display: flex;
    column-gap: var(--skrubview-tiny);
    padding-left: var(--skrubview-tiny);
    padding-right: var(--skrubview-tiny);
}

{{ report_id_selector }}.skrubview-report .skrubview-tab[data-is-displayed] {
    display: block;
    border-top: 1px solid var(--skrubview-darkg);
    padding-top: var(--skrubview-tiny);
}

{{ report_id_selector }}.skrubview-report .skrubview-tabset-buttons button {
    border: none;
    padding: var(--skrubview-tiny);
    font-size: var(--skrubview-small);
    background-color: var(--skrubview-lightg);
    border-radius: var(--skrubview-radius) var(--skrubview-radius) 0 0;
}

{{ report_id_selector }}.skrubview-report .skrubview-tabset-buttons button:hover {
    background-color: var(--skrubview-mediumg);
}



{{ report_id_selector }}.skrubview-report .skrubview-tabset-buttons button[data-is-selected] {
    border-top: 1px solid var(--skrubview-darkg);
    border-left: 1px solid var(--skrubview-darkg);
    border-right: 1px solid var(--skrubview-darkg);
    border-bottom: 1px solid white;
    margin-bottom: -1px;
    background-color: white;
}

{{ report_id_selector }}.skrubview-report .skrubview-tabset-buttons button[data-has-warning] {
    color: red;
}

{{ report_id_selector }}.skrubview-report .skrubview-tabset-buttons button[data-has-warning]::before {
    content: "⚠️ ";
}
