prune .binder
prune .circleci
prune .github
prune build_tools
prune doc
prune examples

exclude .coveragerc
exclude .git-blame-ignore-revs
exclude .pre-commit-config.yaml
exclude codecov.yml
exclude pixi.lock
