/** Styling **************************************************************/

/* Main page title */
div.body h1 {
    text-align: center;
    font-size: 270%;
    color: #055100;
}

div.body section:first-of-type h1 {
    width: 1280px;
    left: -300px;
    position: relative;
    margin-top: 1ex;
    margin-bottom: 2ex;
}

div.flex-container {
    align-content: flex-start;
    display: flex;
    flex-flow: row wrap;
}

div.larger-container {
    width: 1280px;
    left: -300px;
    position: relative;
}

@media only screen and (min-width: 1200px) {
    div.flex-content {
	width: 50%;
	display: inline-block;
    }
}

/* Secondary sections title */
div.body h2 {
    color: #055100;
}

/* More horizontal space in pre (to fit 80char lines) */
div.body pre {
    padding: 7px 30px 7px 10px;
}

@media only screen and (min-width: 1200px) {
    div.body pre, .sphx-glr-script-out .highlight pre {
	margin-right: -30px;
    }
}

/* Side hanging footnotes */
@media (min-width: 1500px) {
    div.body dl.footnote {
	position: absolute;
	right: 1ex;
	margin-top: -10ex;
	width: 17em;
    }
}

@media (min-width: 1650px) {
    div.body dl.footnote {
	width: 20em;
    }

}

@media (min-width: 1750px) {
    div.body dl.footnote {
	width: 25em;
    }

}

/** Sphinx gallery *******************************************************/

/* The download note on top of the examples */
div.sphx-glr-download-link-note {
    right: 2pt;
    top: 10pt;
    max-width: 15ex;
    float: right;
    padding: 0px 1px 10px 10px;
    background-color: #F6F6F6;
}

/* Hide the download python button (the notebook is enough) */
div.sphx-glr-download-python {
    display: none;
}

/* The download block at the bottom */
div.sphx-glr-footer-example {
    background-color: #F6F6F6;
    border: solid 1px #CCC;
    padding: 0px 5px;
}

/* Large screens */
@media only screen and (min-width: 1550px) {
    /* The download note on top of the examples */
    div.sphx-glr-download-link-note {
	display: none;
    }

    /* The download block at the bottom */
    div.sphx-glr-footer-example {
	position: absolute;
	right: 10px;
	width: 300px;
	top: 300px;
    }

}

@media only screen and (min-width: 1550px) {
    div.sphx-glr-footer-example {
	max-width: 300px;
    }
}

@media only screen and (min-width: 1750px) {
    div.sphx-glr-footer-example {
	max-width: 400px;
    }
}

div.sphx-glr-download-link-note p.admonition-title {
    display: none;
}

/* For screens larger than 1200px: alabaster default settings are that
 * the body is 940px wide and the sidebar 220px */
@media only screen and (min-width: 1200px) {
    div.sphx-glr-download-link-note {
	position: absolute; /* Overrides the float behavior */
    }
}

div.sphx-glr-script-out, p.sphx-glr-script-out {
    margin-left: -3.5ex;
}

/** Sidebar **************************************************************/

/* Hide the title in the navigation bar in the index page */
div.sphinxsidebarwrapper li a {
    display: none;
}

div.sphinxsidebarwrapper h3.toc-title {
    font-size: unset;
    font-style: italic;
    text-decoration: underline;
    margin-bottom: 0px;
}

div.sphinxsidebarwrapper ul:first-of-type {
    margin-top: 0px;
}

/* Undo for children */
div.sphinxsidebarwrapper li li a {
    display: block;
}

div.sphinxsidebarwrapper li li {
    margin: 1ex 0ex;
}

/* Online one level of titles */
div.sphinxsidebarwrapper li li ul {
    display: none;
}

/* Undo for other pages */
div.sphinxsidebarwrapper li.toctree-l1 a {
    display: block;
}

/* Less info in the navigation sidebar */
/*div.sphinxsidebarwrapper h3:first-of-type {
    display: none;
}*/

/* Undo for childs of enclosing divs */
div.sphinxsidebarwrapper div h3:first-of-type {
    display: block;
}

/* The section links */
div.sphinxsidebarwrapper li a {
    display: block;
    margin-left: -2.5ex;
    padding-left: 2.5ex;
}

div.sphinxsidebarwrapper ul ul {
    list-style: circle;
}

div.sphinxsidebarwrapper li li a:hover {
    border-right: #076B00 solid 5px;
    background-color: #F6F6F6;
}

/* The "active" sections */
div.sphinxsidebarwrapper li li.preactive li ul {
    display: none;
}

div.sphinxsidebarwrapper li li.preactive li ul.active {
    display: block;
}

div.sphinxsidebarwrapper li li.preactive > a:first-child {
    border-right: #C1CEC1 solid 5px;
}

div.sphinxsidebarwrapper li ul.active ul {
    display: block;
    font-size: smaller;
}

div.sphinxsidebarwrapper li li a.active {
    border-right: #055100 solid 5px;
    background-color: #F3F3F3;
    text-decoration: none;
}

div.sphinxsidebarwrapper > ul > li.preactive li ul {
    display: none;
}

div.sphinxsidebarwrapper > ul > li.preactive li ul.active {
    display: block;
}

div.sphinxsidebarwrapper li li.preactive ul {
    display: block;
}

div.sphinxsidebarwrapper li li a.active + ul {
    display: block;
    font-size: smaller;
}

div.sphinxsidebarwrapper li li ul.active {
    display: block;
}

div.sphinxsidebarwrapper li li ul {
    font-size: smaller;
}


/* Docstrings ************************************************************/

/* More space around the attributes and methods */
dl.py.attribute, dl.py.method, dl.py.property {
    padding-top: 1.5em;
    padding-bottom: .5em;
}

dl.py.class dl.field-list {
    padding-bottom: .5em;
}

p.side-comment {
    font-size: smaller;
    text-align: right;
    padding-bottom: 1em;
}


/* Flush the sidebar more to the left */
@media (min-width: 1300px) {
    div.sphinxsidebar {
	left: 5%;
	width: 300px;
    }

    div.sphinxsidebar p.logo {
	width: 220px;
    }
}

@media (min-width: 1500px) {
    div.sphinxsidebar {
	left: 10%;
    }
}

/* My custom classes */
p.right-align {
    float: right;
}
